<!-- If we need to change anything in our layout, only need to change this one file instead of every single file -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Book Library </title>
</head>
<body>

  Before
  <br>
    <%- body  %>   <!-- This is where other page views will be shown. This body section is importing everything from every single one of our pages in our application.  --> 
   
  <br>
  After
  
</body>
</html>